{{ define "main" }}
<span>
	<h1>{{ .Title }}</h1>

	{{ partial "post-meta" . }}
</span>

<p>
	{{ .Content }}
</p>
<div class="grid">
	<div class="grid-sizer"></div>
	<div class="grid-item grid-item--width2"><img src="/images/thumbs/06.jpg" /></div>
	<div class="grid-item grid-item--width2"><img src="/images/thumbs/05.jpg" /></div>
	<div class="grid-item grid-item"><img src="/images/thumbs/04.jpg" /></div>
	<div class="grid-item grid-item"><img src="/images/thumbs/03.jpg" /></div>
	<div class="grid-item grid-item"><img src="/images/thumbs/02.jpg" /></div>
	<div class="grid-item grid-item"><img src="/images/thumbs/01.jpg" /></div>
	<div class="grid-item grid-item"><img src="/images/thumbs/06.jpg" /></div>
	<div class="grid-item grid-item"><img src="/images/thumbs/05.jpg" /></div>
	<div class="grid-item grid-item"><img src="/images/thumbs/04.jpg" /></div>
</div>

{{ template "_internal/disqus.html" . }}
{{ end }}