{{ "<!-- Footer -->" | safeHTML }}
<footer id="footer">
	<ul class="icons">
		{{ with .Site.Params.sidebar.googleplus }}
		<li><a href="//plus.google.com/+{{ . }}" target="_blank" class="icon"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
		{{ end }}
		{{ with .Site.Params.sidebar.mastodon }}
		<li><a href="//framapiaf.org/@{{ . }}" target="_blank" class="icon"><i class="fa fa-mastodon" aria-hidden="true"></i></a></li>
		{{ end }}
		{{ with .Site.Params.sidebar.diaspora }}
        <li><a href="//framasphere.org/people/{{ . }}" target="_blank" class="icon"><i class="fa fa-diaspora" aria-hidden="true"></i></a></li>
		{{ end }}
		{{ with .Site.Params.sidebar.pixelfed }}
        <li><a href="//pixelfed.social/{{ . }}" target="_blank" class="icon"><i class="fa fa-camera-retro" aria-hidden="true"></i></a></li>
        {{ end }}
		{{ with .Site.Params.sidebar.facebook }}
        <li><a href="//facebook.com/{{ . }}" target="_blank" class="icon"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {{ end }}
		{{ with .Site.Params.sidebar.twitter }}
		<li><a href="//twitter.com/{{ . }}" target="_blank" class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		{{ end }}
		{{ with .Site.Params.sidebar.instagram }}
		<li><a href="//instagram.com/{{ . }}" target="_blank" class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
		{{ end }}
		{{ with .Site.Params.sidebar.github }}
		<li><a href="//github.com/{{ . }}" target="_blank" class="icon"><i class="fa fa-github" aria-hidden="true"></i></a></li>
		{{ end }}
		{{ with .Site.Params.sidebar.gitlab }}
		<li><a href="//gitlab.com/{{ . }}" target="_blank" class="icon"><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
		{{ end }}
		{{ with .Site.Params.sidebar.linkedin }}
		<li><a href="//linkedin.com/in/{{ . }}" target="_blank" class="icon"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
		{{ end }}
		{{ with .Site.Params.sidebar.dribbble }}
		<li><a href="//dribbble.com/{{ . }}" target="_blank" class="icon"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
		{{ end }}
		{{ with .Site.Params.sidebar.flickr }}
		<li><a href="//flickr.com/photos/{{ . }}" target="_blank" class="icon"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
		{{ end }}
		{{ with .Site.Params.contact.email }}
		<li><a href="{{ $.Site.BaseURL }}#contact-form" class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
		{{ end }}
		{{ if not .Site.Params.rss.hide }}
		<li><a href="{{ if $.RSSLink }}{{ $.RSSLink }}{{ else }}{{ $.Site.RSSLink }}{{ end }}" class="icon" type="application/rss+xml"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
		{{ end }}
	</ul>

	<ul class="copyright">
		{{ range .Site.Params.sidebar.copyright }}
		<li>{{ . | markdownify }}</li>
		{{ end }}
	</ul>
</footer>

{{ "<!-- Scripts -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.poptrox.min.js"></script>
<script src="{{ .Site.BaseURL }}js/skel.min.js"></script>
<script src="{{ .Site.BaseURL }}js/util.js"></script>
<!--[if lte IE 8]><script src="{{ .Site.BaseURL }}js/ie/respond.min.js"></script><![endif]-->
<script src="{{ .Site.BaseURL }}js/main.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
{{ template "_internal/google_analytics_async.html" . }}

{{ range .Site.Params.custom_js }}
<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end }}
